*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    cursor: none;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
}
.nav-links{
    justify-content: space-between;
    list-style: none;
    display: flex;
}
.nav-links , h1{
    flex: 1;
} 

.Cursour{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background , transform ;
    transform-origin: 100% 100%;
    z-index: -1;
}
.nav-links li{
    padding: 3rem;
}

.one{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.grow-link{
    transform: scale(2);
    background: black;
}
.hoverd-link{
    color: white;
}
.front-img img{
    position: relative;
    z-index: -3;
}
.grow-img{
    transform: scale(2);
    backdrop-filter: grayscale();
}
